aside {
    background: #1f8dd6;
    margin: 1em 0;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: white;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#overview-tbl-fieldset {
    margin: auto;
    width: 75%;
}
